.name {
    font-size: 20px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 25%;
    height: 30%;
    padding: 5px;
    align-content: center;
}
.topnav{
    float: right;
}
.top-bar {
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    float: right;
    color: grey;
}
li {
    float: left;
    padding: 5px;

}
li a {
    display: block;
    text-decoration-line: none;
    color: grey;
    
}
body {
    background-color: #777777;
}
.main-body {
    background-color: white;
}
#about-me {
    color: #4aaaa5;
}